footer {
    z-index: 1000;
    background-color: black;
    width: 100%;
}

.container {
    padding: 30px;
}

.footer_menu {
    column-count: 3;
}

    .footer_menu a {
        display: block;
        margin-bottom: 10px;
        color: white;
        text-decoration: none;
    }